*{
    margin:0%;
    padding: 0%;
  }
  .products{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
  }
  .card{
    margin: 5px;
    padding: 5px;
  }
  .form-product{
    margin: 5px;
    padding: 5px;
  }
  .footer{
    background-color:rgb(192, 192, 192);
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .head, nav{
    background-color:red;
    text-decoration: none;
    color: #ffff;
    padding-top: 10px;
  }
  a{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
  }
  .ico{
    height: 50px;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .new_product{
    margin: 15px;
  }