*{
    margin:0%;
    padding: 0%;
  }
  .products{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
  }
  .card{
    margin: 5px;
    padding: 5px;
  }
  .form-product{
    margin: 5px;
    padding: 5px;
  }
  .footer{
    background-color:rgb(192, 192, 192);
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .head, nav{
    background-color: #069;
    text-decoration: none;
    color: #ffff;
    padding-top: 10px;
  }
  a{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
  }
  .ico{
    height: 40px;
  }
  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .new_product{
    margin: 15px;
    margin-bottom: 50px !important;
  }
  
 .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }

  .btn {
    //     top rigth botton left 
    margin: 5px 0px 5px 0px;
  }

  input, textarea {
    border-radius: 6px;
  }

  .image{
    width: 80%;
  }