<div id="<%= dom_id product %>" class="card" style="width: 18rem; align-items:center;">
  <image src='<%= url_for(product.image)%>' style="width: 100px;"><br>
  <div class="card-body">
    <h5 class="card-title"><%= product.title %></h5>
    <p class="card-text"><%= product.description %></p>
  </div>
</div>